.side-menu{
  list-style-type: none;
  padding-top: 20px;
  width: 20%;
  height: 100%;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-weight: 600;
  color: black;
  font-size: 18px;
  background-color: #E5E5E5;
  display: flex;
}

.nav-username{
  border-bottom: 1px solid #0074CC;
}

.nav-username img{
  height: 25px;
  width: auto;
}

.nav-username a:hover{
  text-decoration: none;
  color: #6b74f3;
  background-color: white !important;
}

/* .nav-text {
  display: flex;
  list-style: none;
  height: 55px; 
} */

.nav-text img{
  height: 25px;
  width: auto;
  /* margin: auto; */
}
  
.nav-text a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 5px;
  border-radius: 4px;
  list-style: none;
}

.nav-text a:hover {
  background-color: #bdc1ff; 
  text-decoration: none;
}

.nav-text a:link{
  text-decoration: none;
}

.nav-text a:visited{
  color: black;
}
 
span {
  margin-left: 16px;
}

.side-end{
  float: inline-end;
}

@media screen and (max-width: 960px) {
  .side-menu{
    width: 40%;
    background-color: #060b26;
   transition: 850ms;
   margin: 0;
  }

  .menu-btn-small{
    position: sticky;
    top: 0;
    margin: 5% 5% 0;
    font-size: 5vmin;
  }

  .menu-container{
    position: fixed;
    padding:  0;
  }

}


@media screen and (min-width: 970px) {
  .menu-btn-small{
    display: none;
  }
}
