.side-menu{
  list-style-type: none;
  padding-top: 20px;
  width: 20%;
  height: 100%;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-weight: 600;
  color: black;
  font-size: 18px;
  background-color: #E5E5E5;
}

.nav-username{
  border-bottom: 1px solid #0074CC;
}

.nav-username img{
  height: 25px;
  width: auto;
}

.nav-username a:hover{
  text-decoration: none;
  color: #6b74f3;
  background-color: white !important;
}

/* .nav-text {
  display: flex;
  list-style: none;
  height: 55px; 
} */

.nav-text img{
  height: 25px;
  width: auto;
  /* margin: auto; */
}
  
.nav-text a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 5px;
  border-radius: 4px;
  list-style: none;
}

.nav-text a:hover {
  background-color: #bdc1ff; 
  text-decoration: none;
}

.nav-text a:link{
  text-decoration: none;
}

.nav-text a:visited{
  color: black;
}
 
span {
  margin-left: 16px;
}

.side-end{
  float: inline-end;
}

@media screen and (max-width: 960px) {
.side-menu{
  display: none;
}
}