body{
    background-color: #E5E5E5;
}

.homepage{
    margin: 2% 15% 0 20%;
}

.btn-create-event{
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0074CC;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    border: none;
}

.btn-create-event:hover{
    background-color: #6b74f3;
}

.form-event{
    border: 1px solid black;
    padding: 30px;
    background-color: white;
    height: 500px;
    width: 70em;
}

.form-header{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

ul{
    list-style-type: none;
}

.description{
    white-space: pre-wrap;
}

.btnsubmit{
    margin-top:50px;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.event-des-item{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5%;
    margin-bottom: 2%;
    margin-left: 1%;
    box-shadow: 1px 1px 5px #999;
}

@media screen and (max-width: 960px) {
    .homepage{
        margin: 30px 0px 0px 80px;
    }
}