body{
    background-color: #E5E5E5;
}

.homepage{
    margin: 2% 15% 0 25%;
    
}
.card{
    border: 1px solid grey;
    padding: 30px;
    background-color: white;
    height: fit-content;
    width: 70vmin;
    border-radius: 10px;
    transition: opacity 500ms;
    margin: auto;
    opacity: 1;
}

.card-container-create-event{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.4);
    display: flex;
}


.btn-create-event{
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0074CC;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    border: none;
}

.btn-create-event:hover{
    background-color: #6b74f3;
}


.card-footer button{
    background-color: #0074CC;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 1px 3px #999;
    border-radius: 5px;
}

.card-footer button:hover{
    background-color: #6b74f3;
    cursor: pointer;
}
.date-time{
    display: flex;
}
.date-time input{
    margin: 10px;
}

.event-time{
    margin-left: 20px;
}

.form-group select{
    margin: 10px;
    font-weight: 100;
}

.form-header{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 95% 5%;
    justify-content: center;
}

.lb-header{
    padding-left: 5%;
}

.ic-close{
    /* position: absolute;
    margin-right: -40%; */
    margin-right: 2px;
    margin-top: 4px;
    color: rgb(179, 179, 179);
}

.ReactModal__Overlay{
    z-index: 999;
    background-color: rgba(0,0,0,.4) !important;
}

#BsFillXCircleFill{
    font-size: 24px;
}

#BsFillXCircleFill:hover{
    color: rgb(126, 126, 126);
    cursor: pointer;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

.description {
    white-space: pre-wrap;
}

.btnsubmit {
    margin-top:50px;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.event-des-item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2% 4%;
    margin-bottom: 2%;
    margin-left: 1%;
    box-shadow: 1px 1px 5px #999;
}

.search-bar{
    background-color: #FFF;
    position:fixed;
	left:86%;
	box-shadow: 2px 2px 3px #999;
    border-radius: 5px;
    display: flex;
    border: 0.5px solid #999;
}

.search-bar input {
    border-radius: 5px;
    border: none;
    height: 30px;
}

.BsSearch {
    padding: 4px;
    width: 20px;
    height: auto;
    border-radius: 4px;
    background-color: #0074CC;
    color: #FFF;
}

.BsSearch:hover {
    background-color: #6b74f3;
}

.header-event {
    display: flex;
}


#three-dots {
    font-size: 18px;
}

.dropdown-choose {
    background-color: #FFF;
    width: auto;
}

.event-name {
    flex-grow: 1;
    font-weight: 700;
    font-size: 18px;
    align-self: center;
}

.ic-in-3-dots {
    font-size: 20px;
    width: 30px;
    margin: 0;
    padding: 4px 0;
}

.dropdown-menu-3-dots {
    width: 180px;
}

.dropdown-menu {
    z-index: 1;
}

#drop-item {
    color: black;
    padding: 5px;
}

#drop-item:hover {
    background-color: #E5E5E5;
}

.img-unit-type {
    display: flex;
}

#unit-type {
    margin: 2rem;
}

#unit-type p {
    margin: 1.5rem 0;
}

@media screen and (max-width: 960px) {
    .homepage{
        margin: 2% 10%;
    }
}

/* fix icon pop up */
.swal2-popup{
    width: fit-content !important;
    height: fit-content;
}
.swal2-popup .swal2-title{
    margin: 0  !important;
    padding: 1.25em 0 0 0 !important;
    font-size: 2.5em !important;
}

.swal2-popup .swal2-styled.swal2-confirm{
    font-size: 1.6em !important;
}

.swal2-popup .swal2-styled.swal2-cancel{
    font-size: 1.6em !important;
}

.swal2-icon .swal2-icon-content{
    font-size: 4.5em !important;
}

.swal2-icon{
    width: 6em !important;
    height: 6em !important;
    margin-bottom: 0 !important;
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=long]{
    top:3.2em !important;
    right: 0.8em !important;
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=tip]{
    top: 3.5em !important;
    left: -0.2em !important;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right]{
    right: 1.5em !important;
    top: 2.8em !important;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left]{
    left: -1.5em !important;
    top: 2.8em !important;
}