#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    width: 100%;
    min-height: 100%;
    margin: 0 !important;
    object-fit: cover;
    z-index: -1;
  }

#dropdown-basic{
    position: fixed;
    top: 10px;
    left: 10px;
}

.lg_drop_menu{
    min-width: fit-content !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

.lg_drop_item{
    width: 100px !important;
    /* text-align: center; */
    display: flex;
    padding: 10px !important;
    color: black !important;
}

.lg_drop_item:hover{
    background-color: #6b74f3;
}

.container-login{
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 30px 50px 50px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-lg-header{
    text-align: center;
    display: block !important;
    font-weight: 700 !important;
    padding-bottom: 5px !important;
}

.form-lg-header img{
    margin-left: 0 !important;
    width: 70%;
}


.form-lg-group{
    margin: 20px 0;
    font-size: 16px;
}

.form-lg-group Input{
    padding: 10px;
    border-radius: 5px;
    border: solid 0.5px #999;
}

.form-lg-group label{
    font-weight: 500 !important;
}

.form-lg-footer{
    margin-top: 20px;
}

.form-lg-footer button{
    width: max-content;
    margin: auto;
    height: max-content;
    font-size: 17px;
}
.form-lg-footer p{
    margin-top: 10px;
}
