.NavbarItems{
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-menu {
    list-style-type: none;
    margin: 0;
    padding:  0;
    overflow: hidden;
    background-color: #ffffff;
    font-size: 1.25em;
    font-weight: 700;
    align-items: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    height: 53px;
    overflow: visible;
    z-index: 10 !important;
}

.navbar-logo {
    cursor: pointer;
    float:left;
}

.nav-links {
    float: right;
}



.dropdown-item{
    width: 400px;
    text-decoration: none;
}

.dropdown-item:hover{
    text-decoration: none;
}

img{
    margin-left: 10px;
}

li a {
    display: block;
    padding: 14px 20px;
    margin-bottom: 0;
    color: rgb(0, 0, 0);
}

.nav-links:hover {
    background-color: #bdc1ff;
    border-radius: 2px;
    text-decoration: none !important;
    transition: all 0.2s ease-out;
}

.nav-links:active{
    text-decoration: none;
}

.navbar-logo a:hover{
    text-decoration: none;
    color: black;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

 @media screen and (max-width: 960px) {

    .nav-menu {
        list-style-type: none;
        margin: 0;
        padding:  0;
        overflow: hidden;
        background-color: #ffffff;
        font-size: 2.15vmin;
        font-weight: 700;
        align-items: center;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
        overflow: visible;
    }

} 
